html, body {
height: 90%;
/* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
	min-height: 90%;
	height: auto !important;
	height: 90%;
	/* Negative indent footer by it's height */
	margin: 0 auto;
}

/* Set the fixed height of the footer here */
#push, #footer {
	height: 60px;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (min-width: 787px) {
	#footer {
	  padding-left: 20px;
	  padding-right: 20px;
	}
}

div.fixed-height {
	min-height:250px;
	max-height:250px;
	padding-bottom:20px;
	overflow-y:hidden;
}

div.fixed-small-height {
	min-height:225px;
	max-height:225px;
	padding-bottom:10px;
	overflow-y:hidden;
}

.hover-only-border {
	border:none;
}

.hover-only-border:focus {
	border:1px;
}

.disabled {
   pointer-events: none;
   cursor: default;
}

.full-width {
	width:100%;
}

i.icon {
	margin-left:-20px;
}

.min-padding {
	padding: 5%;
	padding-top: 2%;
	padding-bottom: 2%;
}

.gray-back{
background-color:#BBBBBB;
}

.welcome-image {
	height:80%;
	max-height:200px
}


.no-resize {
 resize:none;
}

.hide-button {
	color: transparent; 
	background-color: transparent; 
	border-color: transparent;
}

.image-404 {
	height:90%;
	max-height:700px;
}

.bigger-404 {
	position:relative;
}

.box-404 {
	position:bottom;
	position: absolute; 
	bottom: 0;
	right: 10px;
	text-align:right;
	font-family:"wendy one";
}

.box-404 h1 {
	font-size:250px;
	padding-bottom:100px;
}
